body {
  font-family: "poppins", sans-serif;
  background: #ececec;
}
.side-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#login-text {
  font-size: 30px;
  font-weight: 500;
}
@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(25px);
  }
  .dropmenu {
    background-color: rgba(255, 255, 255, 1) !important;
  }
}
.search-form {
  height: 25px;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.c-items {
  height: 520px;
}
.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}
